.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

input {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: large;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 2rem;
    width: 25vw;
    border-radius: 10px;
    border-width: 0.3px;
}

input:focus {
    outline-width: 0;
    outline: none;
}

.formButton {
    background-color: orangered;
    border: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
    color: aliceblue;
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 1rem;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.formButton:hover {
    box-shadow: 3px 3px 10px  #f59910;
}